.idea
.vscode
bin/
obj/
out/
*DotSettings.user

# System Files
.DS_Store
Thumbs.db

npm-debug.log

# compiled output
/dist
wwwroot/
/tmp
out-tsc/
# Only exists if Bazel was run
bazel-out/

# dependencies
node_modules/